SECRET_KEY=super-secret-code
COOKIE_NAME=token

POSTGRES_DB=backend
POSTGRES_USER=backend
POSTGRES_PASSWORD=backend!

# Database path relative to prisma folder
# DATABASE_URL=file:../data.sqlite
DATABASE_URL=postgresql://backend:backend!@postgres:5432/backend